@font-face {
	font-family: 'Proxima Nova';
	src: url('./ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('./ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('./ProximaNova-Regular.woff') format('woff'),
		url('./ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('./Panton-Regular.eot');
	src: local('Panton Regular'), local('Panton-Regular'),
		url('./Panton-Regular.eot?#iefix') format('embedded-opentype'),
		url('./Panton-Regular.woff') format('woff'),
		url('./Panton-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}