
Вы зарегестрировались на сайте «{COMPANY}»
{SEPARATOR}

<style type="text/css">
    a{color:#f05a1f;}
    p{font-size:18px;}
</style>

<div style="font-family: 'arial' , 'helvetica' , sans-serif;font-size: 12px;padding-left: 10px;text-align: left;max-width: 600px;color:#323232">
    <table style="background:#f05a1f;width:100%">
        <tr>
            <td style="padding-left: 15px;">
                <img style="float: left;height:50px;" src="{DOMAIN}/wa-apps/sm/themes/smotron/img/smotron-white.png" alt="Смотрон.ТВ" tittle="smotron-tv"/>
                <p style="float: right;margin-top:10px;margin-bottom:10px;">{DOMAIN}</p>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="padding-left: 15px">
                <div style="font-size:30px;">Регистрация на сайте {DOMAIN}</div>
                <div>
                    <p style="font-size:18px;line-height:24px;">Вы получили это письмо, так как адрес электронной почты {EMAIL} был указан при регистрации на сайте {DOMAIN}</p>
                </div>
                <div>
                    <p>Ваши данные доступа в личный кабинет:</p>
                    <p>E-mail/login: <a>{EMAIL}</a></p>
                    <p>password: <a>{PASSWORD}</a></p>
                    <p>Ссылка для входа: <a href="{DOMAIN}/?ar=1">smotron.tv</a></p>
                </div>
                <div>
                    <p>Если Вы не регистрировались на сайте, проигнорируйте это сообщение.</p>
                </div>
            </td>
        </tr>
    </table>
    <table style="background:#f05a1f;width:100%">
        <tr>
            <td style="padding-left: 15px;">
                <img style="float: left;height:50px" src="{DOMAIN}/wa-apps/sm/themes/smotron/img/smotron-white.png" alt="Смотрон.ТВ" tittle="smotron-tv"/>
                <p style="float: right;margin-top:10px;margin-bottom:10px;"><a style="color:#FFFFFF" href="{DOMAIN}/help">Поддержка</a></p>
            </td>
        </tr>
    </table>
</div>